html {
   scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.sidebarOption {
    padding:1px 5px;
    width:110px;
    float:left;
}

.sidebarOption a{
    text-decoration:none!important;
    font-family:"Arial", sans-serif, "Arial";
    font-size: 14px;
    font-weight: 300;
    color:#3dcd58;
    display: block;
    padding: 10px 10px;
}

.sidebarOption ul {
    list-style: none;
    margin:0 0 0 -30;  
    
    position: fixed;
}

a:hover {
    filter:brightness(140%);
}

.headerDivider {
    float:left;
    border-left:1px solid #3dcd58;
    height:700px;
    width:1px;
    margin-left:0%;
    margin-right:3px;
}

.dashBoard {
    float:left;
    margin-left:3%;
    font-family:'Arial', sans-serif, "Arial";
    font-size:14px;
    font-weight:100;
}

table {
    border-spacing:1px;
    table-layout:fixed;
    text-align: center;
    font-size:14px;
    scroll-behavior: smooth;

}

table th {
    padding:10px 30px;
    background: #3dcd58;
    color:white;
    width:70px;
}

tr {
    height:30px;
    width:70px;
} 

tr:nth-child(even) {
    background-color: #FAFAFA;
}

table thead {
}

table tbody {
   overflow: auto;
}

